@font-face {
    font-family: "first-job";
    src: url(../fonts/FirstJob-X8rP.ttf);
}

body {
    font-family: 'Montserrat', sans-serif;
}

#content {
    width: 50%;
    margin: 20px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form div {
    margin-top: 5px;
}

.welcome_text {
    color: white;
    margin-top: 5vw;
}

.input {
    width: 26vw;
    resize: none;
    position: relative;
    padding: 1vw 0vw 1vw 2vw;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.36);
    border: none;
}

.btn {
    margin-top: 1vw;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.5vw 3vw;
    border-radius: 5px;
    font-family: "first-job";
    font-size: 2vw;
    font-size: 2em;
    cursor: pointer;
}

.btn:hover {
    color: #26376D;
    background-color: white;
    border: 2px solid white;
}

a {
    text-decoration: none;
    color: white;
}

.img_username {
    margin-bottom: 6vw;
    margin-top: 7vw;
}

.username {
    font-family: "first-job";
    font-size: 1.2vw;
}

.logout_btn {
    border: 2px solid tomato;
    font-size: 2vw;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
}

.logout_btn:hover {
    background-color: tomato;
    border: 2px solid tomato;

}

.btn_delete {
    text-decoration: none;
    color: white;
    font-family: "first-job";
    font-size: 1.3em;
    margin-left: 1vw;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.btn_delete:hover {
    text-decoration: underline;
}

img {
    float: left;
    width: 19vw;
    height: 19vw;
    margin-right: 2vw;
    border-radius: 5px;
}

.input_img {
    position: absolute;
    left: 26vw;
    top: 33.5vw;
}

#text {
    margin-top: -3vw;
    width: 24vw;
    height: 6vw;
}

#delete_bio {
    margin-bottom: 3vw;
    position: relative;
    float: right;
    top: -2vw;
    left: -7vw;
}

#email {
    float: left;
    margin-right: 25px;
}

#upload_button {
    margin-bottom: 4vw;
    width: 19vw;
}

#new_mail_btn {
    position: relative;
    float: right;
    top: -4vw;
}